html{
    background-color: rgb(248, 217, 223);
    font-family: 'Courier New', Courier, monospace;
}
body {
    text-align: center;
}
h1 {
    font-size: 50px;
    text-align: center;
    color:deeppink;
}

h2{
    text-align: center;
}

#center{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

#newgames{
    padding: 10px;
    font-size: 30px;
    border: solid 4px black;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.box{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#betamount {
    font-size: 30px;
    color:deeppink;
    font-weight: 900;


}


#hidden.newgame #hit, #hidden.newgame #stay{
    display: inline-block;
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;
    border: solid 4px black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;}

#hit{
    background-color: rgba(26, 156, 26, 0.61);
    display: none; 
}

#stay{
    background-color: rgba(255, 0, 0, 0.623);
    margin-left: 25px;
    display: none; 
}



#bet{
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    margin-left: 125px;
    font-family: 'Courier New', Courier, monospace;

    
}

#submit{
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    padding:10px;
    font-family: 'Courier New', Courier, monospace;
    border: solid 4px black;

}

#dealer, #player1{
    padding:20px;
}
#dealer{
    background-color: #ac001d79;
    font-size: 30px;
    margin-top: 40px;
    font-weight: 600;
}
#player1{
    background-color: #ac001d79;
    font-size: 30px;
    font-weight: 600;

}

#dealerscards, #playerscards{
    background-color: rgba(238, 167, 167, 0.726);
    padding:100px;
    display: flex;
}


.cardstyle{
    display: flex;
    align-items: center; justify-content: center;
    margin: 20px;
    width: 100px; height: 100px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.336)
}

#back {
    background-color: black;
}

#back.front{
background-color: rgba(255, 255, 255, 0.336);
}

#ds, #ps {
    display: none;
}

#ps.display{
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.514);
}